.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #2E2525, #575151);
  overflow: hidden;
}

.title {
  font-size: 48px;
  font-weight: 500;
  color: white;
}

.description {
  font-size: 24px;
  margin-top: -20px;
  color: white;
}

.home-wrapper {
  margin-top: 40px;
  display: flex;
  gap: 60px;
}

.button {
  padding: 12px 24px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: white;
  border: white 1px solid;
  border-radius: 18px;
  transition: all 0.3s ease;
  &:hover {
    transform: scale(1.15);
    background-color: white;
    color: black;
    cursor: pointer;
  }
}